.footer {
    margin: 66px 200px 0 200px;
}

@media screen and (max-width: 700px) {
    .footer {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 586px) {
    .footer {
        margin: 48px 19px 0;
    }
}