.element__like-button {
    width: 22px;
    height: 19px;
    background: url(../../../images/element-button.svg) no-repeat center;
    padding: 0;
    border: 0;
    margin-top: 5px;
    margin-bottom: 3px;
    flex-shrink: 0;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: 0.5;
    transition: 1s;
}
